.package-card
  width: 18rem
  height: 5.3rem
  border-radius: 1rem
  background-color: $white
  margin: auto
  display: inline-block
  padding: 0

.card-content
  width: 100%
  height: 100%
  display: grid
  grid-template-columns: 3.5rem max-content 4rem
  align-items: center
  justify-content: space-around

  img
    height: 3.5rem
    width: 3.5rem
    border-radius: 1rem

  .text-box
    padding: $space-x-small

    h2
      font-family: $font-secondary
      weight: 700

    p
      color: $secondary

    .status-icon
      width: 4rem
      height: 4rem
      font-family: $secondary
      font-size: 0.6rem
