#home

  #hero
    height: 98vh
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-content: flex-end
    text-align: center
    padding: 0 $space-large

    h1
      margin: 0 auto
      font-weight: bold
      font-family: $font-secondary
      font-size: 4rem

    img
      margin: $space-medium auto

    p
      color: $secondary

    button
      margin: $space-small auto

  #list
    background-color: $light
    margin: $space-medium auto

    ul
      margin: $space-medium auto
      width: 100%
      display: grid
      row-gap: $space-medium
      padding: $space-medium 0

