#home
  margin: 0 auto
  background-color: $light

  .brand
    display: flex
    flex-direction: row-reverse
    justify-content: center
    align-content: center
    text-align: center
    padding: $space-large
    background-color: $white
    max-width: 900px
    margin: auto

    h1
      margin: auto 0
      font-weight: bold
      font-family: $font-secondary
      padding: 0
      color: $secondary

    img
      margin: auto 0
      height: 7rem

#list
  background-color: $light
  padding: $space-large
  max-width: 900px
  margin: 0 auto

  .list-title
    color: $primary
    font-family: $font-secondary
    font-weight: 500

  ul
    margin: 0 auto
    width: 100%
    display: grid
    row-gap: $space-medium
    padding: $space-large 0
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    column-gap: $space-medium
