#home
  padding: 0 $space-large

  #hero
    height: 99vh
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-content: flex-end
    text-align: center
    margin-top: $space-small

    h1
      margin: 0 auto
      font-weight: bold
      font-family: $font-secondary
      font-size: 4rem

    img
      margin: $space-medium auto

    p
      color: $secondary

    button
      margin: $space-small auto
