#details
  background-color: $light
  margin: 0 auto
  padding: $space-large

  .brand
    width: 100%

  .details-container
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-content: flex-end
    text-align: center
    width: 100%
    background-color: $white
    border-radius: 1rem
    margin: auto
    padding: $space-small
    max-width: 900px

    .package-card
      padding: 0 0 $space-medium
      width: 100%
      height: auto
      align-items: center
      justify-content: space-around
      justify-items: stretch

      img
        max-height: 80px
        justify-self: center

      .status-icon
        height: 100%

        small

        @include respond(tablet)
          font-size: 1.3rem

      h2
        @include respond(tablet)
        font-size: 1.75rem

  .package
    display: grid
    row-gap: $space-x-small
    column-gap: $space-x-small
    width: 100%
    padding: 0
    justify-content: space-around
    justify-items: stretch
    grid-template-columns: auto auto
    margin: 0

    .notes
      grid-column: span 2

    .data
      display: block
      text-align: start


    small
      font-size: .7rem
      line-height: .9rem
      @include respond(tablet)
        font-size: 1rem

    p
      font-size: .9rem
      @include respond(tablet)
        font-size: 1.2rem

  .btn-ghost
    margin: 0 auto

.map-container
  color: $primary
  font-size: .8rem
  font-family: $font
  margin: $space-medium auto
  max-width: 800px



