#details
  padding: $space-large
  background-color: $light

  .details-container
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-content: flex-end
    text-align: center
    width: 100%
    background-color: $white
    border-radius: 1rem
    margin: auto
    padding: $space-small

    .package-card
      padding: $space-small 0
      width: 100%
      height: auto

  .btn-ghost
    margin: 0 auto


  .package
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr))
    padding: $space-medium 0

.map-container
  color: $primary
  font-size: .8rem
  font-family: $font
  margin: $space-medium auto



